@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Camera Feed";

    var captures = ViewBag.Captures as IEnumerable<string>;
}
<script src="~/Scripts/WebCam.js"></script>

<div class="panel panel-default" style="margin-top:25px;">
    <div class="panel-heading">
        <h4>Camera Feed</h4>
    </div>
    <div class="panel-body">
        <div class="row" style="margin:15px;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th align="center"><u>Live Camera</u></th>
                </tr>
                <tr>
                    <td><div id="webcam"></div></td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            @if (captures.Any())
            {
                <div class="col-sm-12" style="margin-left:15px;">
                    <h4><b>Latest Images</b></h4>
                </div>

                foreach (var item in captures)
                {
                    <div class="col-sm-4" style="margin-bottom:10px;">
                        <img src="@Url.Content(String.Format("~/Captures/{0}", item))" />
                    </div>
                }
            }
        </div>
    </div>
</div>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

    table th {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }

    table th, table td {
        padding: 5px;
        width: 300px;
        border: 1px solid #ccc;
    }
</style>

<script type="text/javascript">
    $(function () {
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#webcam');

        $("#btnSave").click(function () {
            Webcam.snap(function (data_uri) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveCapturedImage", "Test")',
                    data: "{data: '" + data_uri + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        location.reload();
                    }
                });
            });
            
        });
    });
</script>